:root{
    --primario: #d7710f;
    --background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

/* @import url('https://fonts.googleapis.com/css?family=Fjalla+One&amp;subset=latin-ext'); */

body {
    margin: 0;
    font-family: "Fjalla One", sans-serif;
}

.navbar {
    background: var(--background);
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.navbar-menu {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
}

.navbar-menu li{
    margin: 0 2px;
    position: relative;
}

.navbar-menu li a{
    text-decoration: none;
    display: block;
    margin: 20px 0;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    border: 1px solid #fff;
    padding: 10px 45px;
    background-color: white;
    background: transparent;
    color: #fff;

}

.navbar-logo{
    z-index: 1;
    position: relative;
}

.navbar-logo img{
    width: 80px;
    margin: 0 2px;
}

.navbar-menu li:first-child a{
    border-radius: 50px 0 0 50px;
}

.navbar-menu li:last-child a{
    border-radius: 0 50px 50px 0;
}
.navbar-menu li:nth-child(2) a {
    border-radius: 0 25px 25px 0;
    margin-right: -30px;
    border-right-color: transparent;
}

.navbar-menu li:nth-child(4) a {
    border-radius: 25px 0 0 25px;
    margin-left: -30px; /* Solapa ligeramente con el logo */
    border-left-color: transparent;
}

.navbar-menu li:first-child a:hover,
.navbar-menu li:nth-child(2) a:hover,
.navbar-menu li:nth-child(4) a:hover,
.navbar-menu li:last-child a:hover
{
    color: #d7710f ;
}


