:root{
    --primario: #d7710f;
    --background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

/* @import url('https://fonts.googleapis.com/css?family=Fjalla+One&amp;subset=latin-ext'); */

body {
    margin: 0;
    font-family: "Fjalla One", sans-serif;
}

.navbar {
    /* background: var(--background); */
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.navbar-menu {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.navbar-menu li{
    margin: 0 2px;
    position: relative;
}

.navbar-menu li a{
    text-decoration: none;
    display: block;
    margin: 20px 0;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    border: 1px solid #000;
    padding: 10px 45px;
}

.navbar-logo img{
    width: 80px;
}

.navbar-menu li:first-child a{
    border-radius: 50px 0 0 50px;
}

.navbar-menu li:nth-child(2){
    
}

.navbar-menu li:last-child a{
    border-radius: 0 50px 50px 0;
}


